.ProductsContainer {
    margin: 0 30px 10px 30px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.CategoryTitle {
    margin: 20px;
    font-size: 25px;
    float: left;
}

.ProductSlider {
    overflow: hidden;
    position: relative;
}

.SliderWrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.SliderButton {
    background-color: rgba(5, 80, 103, 0.8); 
    position: absolute;
    top: 50%;
    z-index: 2;
    width: 20px;
    border: 1px;
    border-style: solid;
    border-color: darkgreen;
    height: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.SliderButton:hover {
    background-color: rgba(5, 80, 103, 1);
}

.SliderButton:active {
    background-color: rgba(5, 80, 103, 0.6);
}

.Prev {
    left: 0;
}

.Next {
    right: 0;
}

.Product {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px 3px 10px;
    height: 200px;
    width: auto;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: gray;
}

.LeagueLogo {
    width: 100px;
    height: auto;
    margin: 10px;
}

.StadiumImage {
    width: 200px;
    height: auto;
    margin: 10px;
}

.shoppingCart {
    cursor: pointer;
}

/* Search page style */
.NothingFoundText {
    margin: 20px;
    font-size: 21px;
    text-align: center;
}

.SearchResults {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

/* Cart page style */
.cart {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.paymentButton {
    display: flex;
    justify-content: center;
    padding: 1.5% 0 1.5% 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 250px;
    border-style: none;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    font-weight: bolder;
    background-color: rgb(173, 172, 222);
}

.paymentButton:hover {
    background-color: rgb(172, 223, 228);
}

.paymentButton:active {
    background-color: rgb(148, 146, 245);
}